@import '../../scss/variables';
@import '../../scss/mixins';


.camp-desc {

    .container {
        margin-top: 3rem;
        margin-bottom: 5rem;

        @include respond(laptop) {
            margin-top: 2rem;
        }
    }

    .line {
        margin-top: 5rem;

        @include respond(tablet) {
            width: 7rem;
            height: 3px;    
            margin-top: 3rem;
        }

        @include respond(mobile-L) {
            margin-top: 1.5rem;
        }
    }
    
    &--image {
        width: 80%;
        margin: 0 auto;
        height: 70vh;
        position: relative;
        margin-top: 2rem;
        background-image: linear-gradient(0deg, rgba(44,44,44,.2), rgba(44,44,44,.2));
        @include respond(laptop) {
            height: 55vh;
        }

        @include respond(tablet) {
            width: 100%;
            margin-top: 0;
            height: 40vh;
        }

        &__icon {
            position: absolute;
            top: 2rem;
            left: 2rem;
            z-index: 10;
            padding: 10px;
            padding-right: 14px;
            border: 1px solid $color-white;
            border-radius: 5px;
            background-color: transparent;
            transition: all .2s;
            width: 1.5625rem;
            height: 1.5625rem;

            &:hover {
                cursor: pointer;
                 background-color: rgba(#909090, .40%);
            }

            @include respond(mobile-L) {
                width: 17px;
                height: 17px;
            }
        }
        
        img {
            border-radius: 5px;
            z-index: -1;
            position: absolute;

            @include respond(tablet) {
                border-radius: 0px;
            }
        }
    }

    &--title {
        font-family: 'Poppins', 'sans-serif';
        font-weight: 600;
        color: $text-primary;
        font-size: 2.5rem;
        margin: 0;
        margin-top: 1.25rem;
        margin-bottom: 5rem;

        @include respond(laptop) {
            font-size: 2.1875rem;
        }

        @include respond(tablet) {
            font-size: 1.875rem;
        }

        @include respond(mobile-L) {
            margin-bottom: 2rem;
            margin-top: 0.625rem;
            font-size: 1.5625rem;
            margin-bottom: 0.9375rem;
        }
    }

    &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;

        @include respond(mobile-L) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        &__text {
            font-family: 'Mulish', 'sans-serif';
            font-weight: 400;
            line-height: 160%;
            color: $text-primary;

            @include respond(tab-land) {
               font-size: 0.875rem;
               line-height: 180%;
            }

            @include respond(laptop) {
                font-size: 0.75rem;
                line-height: 190%;
            }

            @include respond(mobile-L) {
                text-align: center;
            }

        }

        &__details {
            width: 60%;
            justify-self: center;
            padding: 40px;
            border-radius: 0.625rem;
            background-color: $bg-color-secondary;

            @include respond(laptop) {
                padding: 1.875rem;
            }

            &--text {
                font-size: 1.875rem;
                font-family: 'Mulish', 'sans-serif';
                font-weight: 400;
                color: $color-white;
                line-height: 130%;

                @include respond(tab-land) {
                    font-size: 1.5625rem;
                }

                @include respond(laptop) {
                    font-size: 1.375rem;
                }

                @include respond(tablet) {
                    font-size: 1.125rem;
                }
            }

            button {
                font-family: 'Mulish', 'sans-serif';
                font-weight: 700;
                font-size: 1rem;
                color: $color-black;
                background-color: $color-white;
                outline: none;
                padding: 0.9375rem 1.875rem;
                border-radius: 5px;
                border: none;
                transition: all .2s;
                margin-bottom: 1.875rem;

                &:hover {
                    cursor: pointer;
                    background-color: darken($color-white, 20%);
                }

                @include respond(tab-land) {
                    font-size: 0.8125rem;
                }

                @include respond(laptop) {
                    font-size: 0.6875rem;
                }

                @include respond(tablet) {
                    font-size: 0.625rem;
                    padding: 0.75rem 1.25rem;
                    margin-bottom: 1.125rem;
                }
            }
        }
    }
}
