@import "../../../scss/variables";


.form {
    background-color: $bg-color-secondary;
    padding: 1.5625rem;
    border-radius: 5px;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, .2);
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3rem;

    &-group {
        color: $text-primary;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 3rem 0;

        &--label {
            font-size: 0.9375rem;
            color: $text-primary;
            font-family: 'Mulish', 'sans-serif';
        }

        &--input {
           
            margin-top: 1rem;
            outline: 0;
            border-width: 0 0 1px;
            border-color: $text-primary;
            background: none;
            font-size: 1.8rem;
            color: $text-primary;
            padding: 0.75rem 0;
            font-family: 'Mulish', 'sans-serif';
            transition: all .2s;

            &:focus {
                border-color: $color-green-primary;
            }
        
        }

        &--textarea {
            /*border-radius: 5px;
            background-color: $color-grey-secondary;
            padding: 1rem;
            margin-top: 1rem;
            outline: 0;
            border-bottom: 1px solid $color-grey-primary;
            overflow: auto;
            outline: none;
            border-radius: 5px;
            padding: 1rem;
            background-color: none;
            margin-top: 1rem;
            font-size: 2rem;
            */
            background: none;
            background-color: none;
            outline: 0;
            border-bottom: 1px solid $color-red-primary;
            border-left: $bg-color;
            border-right: $bg-color;
            border-top: $bg-color;
            height: 3rem;
            color: $text-primary;
            font-size: 2rem;
            transition: all .2s;
            

            &:focus {
                border-bottom: 1px solid $color-green-primary;
            }
        }

    }

    &-submit {
        border: none;
        border-radius: 2px;
        cursor: pointer;
        outline: 0;
        background-color: $text-primary;
        padding: 10px 28px;
        color: $bg-color-secondary;
        font-size: 18px;
        transition: all .2s;

    &:hover {
        background-color: darken($text-primary, 15%);
    }
    }

}



