@import "../../scss/variables";

.campGroup {

    margin-top: 8rem;

    &-title {
        font-family: 'Mulish', 'sans-serif';
        font-weight: 400;
        font-size: 2.1875rem;
        margin-bottom: 3.125rem;
        color: $text-primary;
    }

    &-camps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }
}