@import "../../scss/variables";
@import "../../scss/mixins";

.campGroup {

    margin: 0 auto;
    margin-top: 5rem;
    width: 90%;

    &-title {
        font-family: 'Mulish', 'sans-serif';
        font-weight: 400;
        font-size: 2.1875rem;
        margin-bottom: 3.125rem;
        color: $text-primary;
    }

    &-camps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.875rem;

        @include respond(tablet) {
            grid-template-columns: 1fr;
        }
    }

}