@import "../../../scss/variables";

.camp {
    height: 16.25rem;
    border-radius: 15px;
    display: flex;
    background-image: linear-gradient(0deg, rgba(44,44,44,.4), rgba(44,44,44,.4));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s;
    border: 3px solid $bg-color;

    img {
        border-radius: 15px;
        z-index: -1;
    }

    .details {
        position: absolute;
        bottom: 0.625rem;
        left: 1.25rem;
        right: 0.625rem;
        margin: 0 auto;
        display: flex;

        h3 {
            color: $bg-color-secondary;
            font-family: 'Mulish', 'sans-serif';
            font-weight: 400;
            padding: 0.625rem 1.875rem;
            border-radius: 1.875rem;
            font-size: 16px;
            background-color: $color-white;
        }
    }

    &:hover {
        cursor: pointer;
        border: 3px solid $color-white;
    }
}