
@import '../../scss/variables';


.section {

    &-head {
        height: 100vh;
        background-image: url('../../images/hero.jpg');
        background-size: 100% 100%;

        &--text {
            height: 55vh;
            justify-content: center;
        }

        .cta,
        .cta:link,
        .cta:visited,
        .cta:active {
            text-decoration: none;
            font-size: 1.125rem;
            font-family: 'Mulish', 'sans-serif';
            background-color: $color-white;
            padding: 1.25rem 2.5rem;
            color: $color-black;
            text-align: center;
            border-radius: 5px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;

            &:hover {
                background-color: darken($color-white, 15%);
            }
        }
    }


}

.icon {
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: 5px;
}

.line {
    margin-top: 3.125rem;
}

.lead {
    color: rgba($text-primary, .8);
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 4.375rem auto;
}
