@import '../../scss/variables';
@import '../../scss/mixins';


.section {

    &-head {
        height: 100vh;
        background-image: linear-gradient(0deg,rgba(44,44,44, .2),rgba(17, 33, 92, .6)), url(../../images/bgImg.jpg);
        background-size: 100% 100%;

        @include respond(tablet) {
            background-size: cover;
            background-position: center;
        }
        
        &--text {
            height: 55vh;
            justify-content: center;
            margin-top: 1.875rem;

            @include respond(tab-land) {
                height: 38vh;
            }

            @include respond(tablet) {
                height: 40vh;
                margin-top: 2.8125rem;
            }

            @include respond(mobile-L) {
                height: 35vh;
                margin-top: 3.125rem;
            }

            @include respond(mobile-S) {
                margin-top: 5rem;
                height: 30vh;
            }

        }

        .cta {
            text-decoration: none;
            font-size: 1.125rem;
            font-family: 'Mulish', 'sans-serif';
            background: #cb2d3e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                      
            padding: 0.9375rem 5.3125rem;
            box-shadow: 0px 0px 15px #ef473a;
            color: $color-white;
            text-align: center;
            border-radius: 2.1875rem;
            outline: none;
            border: none;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            transition: all .2s;
            backface-visibility: none;

            &:hover {
                box-shadow: 0 0.5em 0.5em -0.4em #ef473a;
                transform: translateY(-0.25em);
                cursor: pointer;
            }

            @include respond(laptop) {
                font-size: 0.9375rem;
                padding: 0.9375rem 5rem; 
            }


            @include respond(mobile-L) {
                font-size: 0.8125rem;
                padding: 0.75rem 3.75rem;
                
            }

            @include respond(mobile-M) {
                padding: 0.75rem 3.75rem;
            }

            @include respond(mobile-S) {
                font-size: 0.6875rem;
                padding: 0.75rem 3.125rem;
            }
        }
    }

    &-categories {
        margin-top: 3.125rem;

        @include respond(mobile-L) {
            margin-top: 25px;
        }
    }

}

.icon {
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: 5px;
}

.line {
    margin-top: 3.125rem;
}

.lead {
    color: rgba($text-primary, .8);
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 4.375rem auto;

    @include respond(tablet) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;

        .primary {
            order: 1;
        }
        
        .ghost {
            order: 2;
        }

        .primary, .ghost {
            width: 100%;
        }
    }

    @include respond(mobile-L) {
        width: 85%;
        margin: 3.125rem auto;
    } 
}
