@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
        h1 {
            color: $color-white;
            font-size: 2.1875rem;
            font-family: 'Mulish', 'sans-serif';
            font-weight: 600;

            @include respond(laptop) {
                font-size: 1.875rem;
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 40%;

        @include respond(tablet) {
            display: none;
        }
    }

    .fas.fa-bars, .fas.fa-times {
        color: $color-white;
        font-size: 30px;
        display: none;

        @include respond(tablet) {
            display: block;
        }
    }

}

.link {
    color: $color-white;
    font-size: 0.9375rem;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 400;
    text-decoration: none;
    transition: all .3s;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;

    @include respond(laptop) {
        font-size: 0.75rem;
    }

    @include respond(tablet) {
        font-size: 18px;
    }

    &-auth {
        padding: 5px 30px;
        border: 1px solid $color-white;
        border-radius: 15px;

        &:hover {
            background-color: $color-white;
            color: $bg-color-secondary;
        }
    }

    &-active {
        border-bottom: 1px solid $color-white;
    }

    &:hover {
        border-bottom: 1px solid $color-white;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: $bg-color-secondary;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70%;
    height: 25rem;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    margin: 0;
}