@import '../../../scss/variables';
@import '../../../scss/mixins';

.Label {
    font-size: 0.9375rem;
    color: $text-primary;
    font-family: 'Mulish', 'sans-serif';

    @include respond(tablet) {
        font-size: 0.8125rem;
    }

    @include respond(mobile-M) {
        font-size: 0.6875rem;
    }
}

.Input {
    margin-top: 1rem;
    outline: 0;
    border-width: 0 0 1px;
    border-color: $text-primary;
    background: none;
    font-size: 1.8rem;
    color: $text-primary;
    padding: 0.75rem 0;
    font-family: 'Mulish', 'sans-serif';
    transition: all .2s;

    &::-webkit-input-placeholder {
        color: rgba($color-white, .3);
    }

    &:-moz-placeholder {
        color: rgba($color-white, .3);
    }

    &::-moz-placeholder {
        color: rgba($color-white, .3);
    }

    &:-ms-input-placeholder {
        color: rgba($color-white, .3);
    }

    &::placeholder {
        color: rgba($color-white, .3);
    }

    @include respond(tablet) {
        font-size: 1.4375rem;
    }

    @include respond(mobile-M) {
        font-size: 1.25rem;
    }
}

.Textarea {
    margin-top: 1rem;
    background: none;
    background-color: none;
    outline: 0;
    border-bottom: 1px solid $text-primary;
    border-left: $bg-color;
    border-right: $bg-color;
    border-top: $bg-color;
    color: $text-primary;
    font-family: 'Mulish', 'sans-serif';
    font-size: 1.375rem;
    transition: all .2s;

}

.Input-Invalid {
    border-color: $color-red-primary;
}

.Input-Valid {
    border-color: $color-green-primary;
}

.Textarea-Invalid {
    border-bottom: 1px solid $color-red-primary;
}

.Textarea-Valid {
    border-bottom: 1px solid $color-green-primary;
}