@import '../../../scss/variables';

.Label {
    font-size: 0.9375rem;
    color: $text-primary;
    font-family: 'Mulish', 'sans-serif';
}

.Input {
    margin-top: 1rem;
    outline: 0;
    border-width: 0 0 1px;
    border-color: $text-primary;
    background: none;
    font-size: 1.8rem;
    color: $text-primary;
    padding: 0.75rem 0;
    font-family: 'Mulish', 'sans-serif';
    transition: all .2s;

}

.Textarea {
    margin-top: 1rem;
    background: none;
    background-color: none;
    outline: 0;
    border-bottom: 1px solid $text-primary;
    border-left: $bg-color;
    border-right: $bg-color;
    border-top: $bg-color;
    color: $text-primary;
    font-family: 'Mulish', 'sans-serif';
    font-size: 1.375rem;
    transition: all .2s;
 
}

.Submit {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    background-color: $text-primary;
    padding: 10px 28px;
    color: $bg-color-secondary;
    font-size: 18px;
    transition: all .2s;

    &:hover {
        background-color: darken($text-primary, 15%);
    }
}

.Input-Invalid {
    border-color: $color-red-primary;
}

.Input-Valid {
    border-color: $color-green-primary;
}

.Textarea-Invalid {
    border-bottom: 1px solid $color-red-primary;
}

.Textarea-Valid {
    border-bottom: 1px solid $color-green-primary;
}