@import '../../../scss/variables';
@import '../../../scss/mixins';

.option {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
        font-size: 0.9375rem;
        color: $text-primary;
        font-family: 'Mulish', 'sans-serif';
        font-weight: 400;
        margin: 0;
        margin-top: 0.625rem;

        @include respond(tablet) {
            font-size: 0.8125rem;
        }
    }

}

.Icon {
    width: 5.75rem;
    height: 5rem;
    fill: #4F5F97;

    @include respond(tablet) {
        width: 4.5rem;
        height: 3.75rem;
    }

    @include respond(mobile-M) {
        width: 3.875rem;
        height: 3.125rem;
    }

    @include respond(mobile-S) {
        width: 58px;
        height: 46px;
    }
}

