
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0E1323;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media (min-width: 90em) {
  html {
    font-size: 112.5%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 118%;
  }
}

@media (max-width: 20em) {
    html {
      font-size: 87.5%;
    }
}