
/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Buttons */
.btn {
    
}

/* Line */
.line {
    width: 9rem;
    height: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $text-primary;
}



