@import './variables';


/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Line */
.line {
    width: 9rem;
    height: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $text-primary;

    @include respond(mobile-M) {
        width: 7rem;
    }

    &-2 {
        width: 5rem;
        height: 2px;
        margin: 0 auto;
        border-radius: 5px;
        background-color: $text-primary;
    }
}


